ACTUAL_OPENID_DISCOVERY_URL=
ACTUAL_OPENID_CLIENT_ID=
ACTUAL_OPENID_CLIENT_SECRET=
ACTUAL_OPENID_SERVER_HOSTNAME=https://127.0.0.1:19452
ACTUAL_OPENID_AUTH_METHOD=openid
ACTUAL_LOGIN_METHOD=password
ACTUAL_ALLOWED_LOGIN_METHODS=password
ACTUAL_OPENID_ENFORCE=false
ACTUAL_USER_CREATION_MODE=manual
