POSTGRES_PASSWORD=changeme
SITE_URL=http://localhost:8015
M2LAB_OIDC_CLIENT_ID=
M2LAB_OIDC_CLIENT_SECRET=
M2LAB_OIDC_ISSUER=
M2LAB_OIDC_SERVER_URL=
SOCIALACCOUNT_ALLOW_SIGNUP=false
FORCE_SOCIALACCOUNT_LOGIN=false
