PAPERLESS_SECRET_KEY=generate_with_openssl_rand_base64_32
PAPERLESS_DBPASSWORD=random_hex_or_password
TZ=Etc/UTC
PAPERLESS_URL=http://localhost:8010
PAPERLESS_CSRF_TRUSTED_ORIGINS=http://localhost:8010
